---
import Square from "./square.astro";
---

<div
  class="relative flex w-full divide-x h-[20px] sm:h-[45px] md:h-[60px] lg:h-[70px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
